<header>
    <div class="header-container">
        <div class="header-row-one">
            <ul class="top-links top-links-1">
                <li>
                    <div>
                        <div class="dropdown-toggle">
                            <span class="top-links-icon top-links-locale">
                                <i class="icon-world"></i>
                            </span>
                        </div>
                    
                        <div class="dropdown-list bottom-left dropdown-links" style="display: none;">
                            <ul>
                                {% for locale in getFunction('getAllLocales') %}                             
                                    <li>
                                        <a href="?locale={{ locale.code }}">{{ locale.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <div class="dropdown-toggle">
                            <span class="top-links-icon top-links-locale">
                                <i class="icon-flag"></i>
                            </span>
                        </div>
                        <div class="dropdown-list bottom-left dropdown-links" style="display: none;">
                            <ul>
                                {% for currency in getFunction('getActiveChannelCurrency') %}
                                    <li>
                                        <a href="?currency={{ currency.code }}" class="{{ currency.company_id }} {{ currency.id }}">{{ currency.code }} {{ currency.symbol }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown-toggle top-links-icon top-links-search icon-magnifying-glass icon-search">
                    </div>
                    <div class="dropdown-list bottom-left popper-tooltip" style="display: none;">
                        <div class="ui search">
                            <input type="text" placeholder="Search products here" value="" class="prompt search-box"
                                autocomplete="off">
                            <i class="notch-loader gray search-loader" style="display: none;"></i>
                            <div class="results"></div>
                        </div>
                    </div>
                </li>
                <li class="cart-dropdown-container has-counter">
                    <a href="/checkout/cart">
                        <span class="top-links-icon top-links-cart">
                            <span class="icon-cart"></span>
                            <span class="count-wrapper cart-count count">{{ getFunction('cartItemsCount') }}</span>
                        </span>
                    </a>
                </li>
                <li><a href="/customer/account/wallet"><span
                            class="top-links-icon top-links-cart"><span class="icon-bag-dollar"></span> <span
                                class="wallet-wrapper">{{ getFunction('customerWallet') | default('0') |raw }}</span></span></a></li>
            </ul>
            {% set channel = getFunction('getCurrentChannel') %}
            <div class="store-logo top-links-2">
                <a href="/">
                    {% if channel %}
                        <img src="{{ storage_url ~ channel.logo }}" class="logo">
                    {% else %}
                        <h1>{{ channel.name }}</h1>
                    {% endif %}
                </a>
            </div>                
            <div class="top-links-3">
                <div>
                    <div 
                    {% if authUser %}
                        class="dropdown-toggle"
                    {% else %}
                        data-toggle="modal" data-target="#customerLoginModal"
                    {% endif %}>
                        <span class="top-links-icon top-links-account"><i class="icon-user"></i></span>
                    </div>
                    {% if authUser %}
                        <ul class="dropdown-list bottom-right customer-dropdown dropdown-links">
                            <li class="no-link">
                                {{ authUser.first_name }}
                            </li>
                            <li>
                                <a href="/customer/account/notifications"><i class="icon-bell"></i>
                                    {{ ('shop::app.header.notifications'|trans) }}</a>
                            </li>
                            <li>
                                <a href="/customer/account/profile"><i class="icon-user"></i>
                                    {{ ('shop::app.header.profile'|trans) }}</a>
                            </li>
                            <li>
                                <a href="/customer/account/wishlist"><i class="icon-heart"></i>
                                    {{ ('shop::app.header.wishlist'|trans) }}</a>
                            </li>
                            <li>
                                <a href="/customer/account/orders"><i class="icon-packed-box"></i>
                                    {{ ('shop::app.header.orders'|trans) }}</a>
                            </li>
                            <li>
                                <a href="/customer/account/cart"><i class="icon-cart"></i>
                                    {{ ('shop::app.header.cart'|trans) }}</a>
                            </li>
                            <hr />
                            <li>
                                <a href="/customer/account/logout"><i class="icon-send-out"></i>
                                    {{ ('shop::app.header.logout'|trans) }}</a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="primary-menu">
            {% include 'layout/navbar.twig' %}
        </div>
    </div>
</header>